.page-content {
    margin-top: calc(85px - 55px);
    padding: 22px 0 60px 0;
}

@media (max-width:991.98px) {
    .page-content {
        padding-top: 22px
    }
}



@media print {

    .footer,
    .navbar-header,
    .page-title-box,
    .right-bar,
    .vertical-menu {
        display: none !important
    }

    .card-body,
    .main-content,
    .page-content,
    .right-bar,
    body {
        padding: 0;
        margin: 0
    }

    .card {
        border: 0
    }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0px);
    padding-left: var(--bs-gutter-x, 0px);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 85%;
    }
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.row {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
    position: relative;
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 100%;
}

.row>* {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(22px * .5);
    padding-left: calc(22px * .5);
    margin-top: var(--bs-gutter-y);
}

.card-header {
    padding: 1rem 1.25rem;
    margin-bottom: 0;
    background-color: #152e4d;
    border-bottom: 1px solid #00000000;
}

.card-title {
    font-size: 17px;
    margin-bottom: 0;
    color: white;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--bs-gray-700);
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
}

.h4,
h4 {
    font-size: calc(1.26rem + .12vw);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}